<footer class="footer-bar">
  <br />
  <a href="https://github.com/mohdarifcpp" target="_blank" style="margin: 30">
    <i class="fa-brands fa-github fa-2xl"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/mohdarifcpp/"
    target="_blank"
    style="margin: 30"
  >
    <i class="fa fa-linkedin fa-2xl" aria-hidden="true"></i>
  </a>
</footer>
